body,
.v-application {
    font-family: 'Montserrat', sans-serif;
}
.fix-width {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.v-application a {
    text-decoration: none;
}
.background-page {
    background: url(../images/bg-1.svg) no-repeat;
    background-position-x: 110%;
    background-position-y: -319%;
    background-size: 184% auto;
}

@media only screen and (min-width: 1920px) {
    .background-page {
        background-position-y: -170%;
        background-size: 170% auto;
    }
}
