body {
    overflow: hidden;
}
body,
.v-application {
    font-family: 'Montserrat', sans-serif;
}
.fix-width {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 960px) {
    .fix-width {
        max-width: 850px;
    }
}

@media only screen and (min-width: 1200px) {
    .fix-width {
        max-width: 1200px;
    }
}

.v-application a {
    text-decoration: none;
}
.clear {
    clear: both;
}
.background-page {
    background: url(../images/bg-1.png) no-repeat left top;
    background-size: 88% auto;
}

@media only screen and (max-width: 1280px) {
    .fix-width {
        padding: 0 40px;
    }
}
@media only screen and (max-width: 640px) {
    .fix-width {
        padding: 0 20px;
    }
}
